In [1]:
import pandas as pd
import json
import pymongo
import bson
from bson import ObjectId
import gridfs
import os
import datetime
from dateutil import parser
from PIL import Image

In [46]:
df = pd.read_csv("Power.csv")
df.head(1)

,Site_ID,Reading_Number,Vendor,Date,Power,Image
0,LALXA13245,1,NOKIA,4/2/2022,50,C:\Users\Mohamed Gamal\Desktop\FM Tool\BE\API\...

In [9]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["fm_db"]

mycol = mydb["power_reading_meter"]

In [57]:
for i in range(df.shape[0]):
    file_name = os.path.basename(df.iloc[i,5])
    image = open(df.iloc[i,5],"rb").read()
    fs = gridfs.GridFS(mydb)
    image_id = fs.put(image, filename=os.path.splitext(file_name)[0])
    mycol.insert_one({"Site_ID":df.iloc[i,0],"Reading_Number":int(str(df.iloc[i,1]))
                      ,"Vendor":df.iloc[i,2], "Date":parser.parse(df.iloc[i,3]), "Power":int(str(df.iloc[i,4]))
                     ,"Image":str(image_id)})

In [56]:
for i in range(df.shape[0]):
    file_name = os.path.basename(df.iloc[i,5])
    image = open(df.iloc[i,5],"rb").read()
    print(os.path.splitext(file_name)[0])

digital
digital
digital
digital
digital2
digital2
digital2
digital2
digital3
digital3
digital3
digital3
digital4
digital4
digital4
digital4
digital
digital
digital
digital
digital2
digital2
digital2
digital2
digital4
digital4
digital4
digital4

In [9]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["fm_db"]

fs = gridfs.GridFS(mydb)

# Imports PIL module 
from PIL import Image
from bson import ObjectId
# open method used to open different extension image file
im = Image.open(fs.get(ObjectId("62f5ab1ee635a659584f6841")))

# This method will show image in any image viewer 
im.show()

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["fm_db"]

mycol = mydb["power_reading_meter"]

In [138]:
IP="Localhost"
Port = "8000"
data = pd.DataFrame(list(mycol.find({"Site_ID":"LALXA13245",
            "Date": { "$gte": datetime.datetime(2022, 4, 2), "$lte": datetime.datetime(2022, 4, 3)}})))

data["Image_URL"]=""
fs = gridfs.GridFS(mydb)

for i in range(data.shape[0]):
    im = Image.open(fs.get(ObjectId(str(data.iloc[i,6]))))
    im.save("static/{}".format(str(data.iloc[i,6]) +"." +im.format))
    data["Image_URL"].iloc[i] = "http://{}:{}/static/{}".format(IP, Port,str(data.iloc[i,6]) +"." +str(im.format))

In [141]:
data['_id'] = data['_id'].apply(lambda x: str(ObjectId(x)))
data['Site_ID'] = data['Site_ID'].apply(lambda x: str(ObjectId(x)))
data['Vendor'] = data['Vendor'].apply(lambda x: str(ObjectId(x)))
data['Image'] = data['Image'].apply(lambda x: str(ObjectId(x)))
data['Image_URL'] = data['Image_URL'].apply(lambda x: str(ObjectId(x)))
type(data.iloc[0,0])

str

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             2 non-null      object
 1   Site_ID         2 non-null      object
 2   Reading_Number  2 non-null      int64
 3   Vendor          2 non-null      object
 4   Date            2 non-null      datetime64[ns]
 5   Power           2 non-null      int64
 6   Image           2 non-null      object
 7   Image_URL       2 non-null      object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 256.0+ bytes

In [46]:
IP='localhost'
myclient = pymongo.MongoClient("mongodb://{}:27017/".format(IP))
mydb = myclient["fm_db"]
mycol = mydb["power_reading_meter"]
y = [ x for x in mycol.find({"_id" : ObjectId("62f8087c5d8adca3435f1b24")})]

In [17]:
row_id = str(y[0]['_id'])
image_id = str(y[0]['Image'])
image_id

'62f8087c5d8adca3435f1b20'

In [2]:
import pandas as pd

In [3]:
df_ssi_nokia = pd.read_excel("../Files/SSI/Site Security Index_SSI-Nokia.xlsx")
df_ssi_huawei = pd.read_excel("../Files/SSI/Site Security Index_SSI-Huawei.xlsx")
df_ssi_nokia = df_ssi_nokia[["Site Name","Theft Case"]]
df_ssi_huawei = df_ssi_huawei[["Site Name","Theft Case"]]
df_ssi_nokia.dropna(inplace=True)
df_ssi_huawei.dropna(inplace=True)

C:\Users\Mohamed Gamal\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [4]:
df_ssi_nokia.head(1)

    Site Name Theft Case
2  ICAIG21999         No

In [5]:
df_ssi_huawei.head(1)

    Site Name Theft Case
2  BSINS26745         No

In [21]:
#template Data
input_data = pd.read_excel("../Files/SSI/Template.xlsx")
input_data.head(10)

      Site_ID  Vendor  Date_From    Date_To
0  LALXA13245   NOKIA 2022-04-01 2022-04-30
1  LDELE44813  HUAWEI 2022-04-01 2022-04-30
2  LSINS16147  HUAWEI 2022-04-01 2022-04-30
3  LSINS16202  HUAWEI 2022-04-01 2022-04-30
4  LSINS16209  HUAWEI 2022-04-01 2022-04-30
5  LUPPS18463   NOKIA 2022-04-01 2022-04-30
6  LUPPS18464   NOKIA 2022-04-01 2022-04-30
7  LUPPS28371   NOKIA 2022-04-01 2022-04-30
8          XX   NOKIA 2022-04-01 2022-04-30
9          XX  HUAWEI 2022-04-01 2022-04-30

In [40]:
IP='localhost'
myclient = pymongo.MongoClient("mongodb://{}:27017/".format(IP))
mydb = myclient["fm_db"]
mycol = mydb["power_reading_meter"]
for i in range(input_data.shape[0]):
    y = [ x for x in mycol.find({"Site_ID" : str(input_data.iloc[i,0]), "Vendor": str(input_data.iloc[i,1])})]
    try:
        for x in mycol.aggregate(
           [{"$match":
            {"Site_ID": str(y[0]["Site_ID"]), "Vendor": str(input_data.iloc[i,1]),
            "Date": {"$gte":  pd.to_datetime(input_data.iloc[i,2]),"$lte": pd.to_datetime(input_data.iloc[i,3])}}},
            {"$group": {"_id": "null","AverageValue":{ "$avg": "$Power"}}}]):
            print(str(input_data.iloc[i,0])+"----"+str(x["AverageValue"]))
    except:
        print(str(input_data.iloc[i,0]) + "Not Found")

LALXA13245----64.0
LDELE44813----49.5
LSINS16147----49.5
LSINS16202----33.333333333333336
LSINS16209----49.5
LUPPS18463----33.333333333333336
LUPPS18464----49.5
LUPPS28371----35.0
XXNot Found
XXNot Found

In [41]:
IP='localhost'
myclient = pymongo.MongoClient("mongodb://{}:27017/".format(IP))
mydb = myclient["fm_db"]
mycol = mydb["power_reading_meter"]

data = {'Site_ID': [],'Vendor': [],'Theft_Case':[], 'Count_Visits':[], 'AVG_Power':[]}
for i in range(input_data.shape[0]):
  ########################################Nokia################################################  
    if (input_data.iloc[i,1]=='NOKIA'):
        data['Site_ID'].append(input_data.iloc[i,0])
        data['Vendor'].append(input_data.iloc[i,1])
        ################################Theft_Case#############################
        try:
            snap = df_ssi_nokia[df_ssi_nokia["Site Name"]==input_data.iloc[i,0]]
            Theft_Case = snap.iloc[0,1]
            data['Theft_Case'].append(Theft_Case)
        except:
            data['Theft_Case'].append("Not Found")
        ################################Count_Visits#############################
        y = [ x for x in mycol.find({"Site_ID" : str(input_data.iloc[i,0]), "Vendor": str(input_data.iloc[i,1])})]
        try:
            for x in mycol.aggregate(
               [{"$match":
                {"Site_ID": str(y[0]["Site_ID"]), "Vendor": str(input_data.iloc[i,1]),
                "Date": {"$gte":  pd.to_datetime(input_data.iloc[i,2]),"$lte": pd.to_datetime(input_data.iloc[i,3])}}},
                {"$count": "Count_Visits"}]):
                
                data['Count_Visits'].append(str(x["Count_Visits"]))
        except:
            data['Count_Visits'].append("Not Found")
        ################################Average_Power#############################
        try:
            for x in mycol.aggregate(
               [{"$match":
                {"Site_ID": str(y[0]["Site_ID"]), "Vendor": str(input_data.iloc[i,1]),
                "Date": {"$gte":  pd.to_datetime(input_data.iloc[i,2]),"$lte": pd.to_datetime(input_data.iloc[i,3])}}},
                {"$group": {"_id": "null","AverageValue":{ "$avg": "$Power"}}}]):
                
                data['AVG_Power'].append(str(x["AverageValue"]))
        except:
            data['AVG_Power'].append("Not Found")
        
 ########################################HUAWEI################################################
    if (input_data.iloc[i,1]=='HUAWEI'):
        data['Site_ID'].append(input_data.iloc[i,0])
        data['Vendor'].append(input_data.iloc[i,1])
        ################################Theft_Case#############################
        try:
            snap = df_ssi_huawei[df_ssi_huawei["Site Name"]==input_data.iloc[i,0]]
            Theft_Case = snap.iloc[0,1]
            data['Theft_Case'].append(Theft_Case)
        except:
            data['Theft_Case'].append("Not Found")
        ################################Count_Visits#############################
        y = [ x for x in mycol.find({"Site_ID" : str(input_data.iloc[i,0]), "Vendor": str(input_data.iloc[i,1])})]
        try:
            for x in mycol.aggregate(
               [{"$match":
                {"Site_ID": str(y[0]["Site_ID"]), "Vendor": str(input_data.iloc[i,1]),
                "Date": {"$gte":  pd.to_datetime(input_data.iloc[i,2]),"$lte": pd.to_datetime(input_data.iloc[i,3])}}},
                {"$count": "Count_Visits"}]):
                data['Count_Visits'].append(str(x["Count_Visits"]))
        except:
            data['Count_Visits'].append("Not Found")
            ################################Average_Power#############################
        try:
            for x in mycol.aggregate(
               [{"$match":
                {"Site_ID": str(y[0]["Site_ID"]), "Vendor": str(input_data.iloc[i,1]),
                "Date": {"$gte":  pd.to_datetime(input_data.iloc[i,2]),"$lte": pd.to_datetime(input_data.iloc[i,3])}}},
                {"$group": {"_id": "null","AverageValue":{ "$avg": "$Power"}}}]):
                
                data['AVG_Power'].append(str(x["AverageValue"]))
        except:
            data['AVG_Power'].append("Not Found")

        
final = pd.DataFrame(data)
final

      Site_ID  Vendor Theft_Case Count_Visits           AVG_Power
0  LALXA13245   NOKIA         No            2                64.0
1  LDELE44813  HUAWEI         No            4                49.5
2  LSINS16147  HUAWEI         No            4                49.5
3  LSINS16202  HUAWEI         No            3  33.333333333333336
4  LSINS16209  HUAWEI        Yes            4                49.5
5  LUPPS18463   NOKIA         No            3  33.333333333333336
6  LUPPS18464   NOKIA         No            4                49.5
7  LUPPS28371   NOKIA         No            2                35.0
8          XX   NOKIA  Not Found    Not Found           Not Found
9          XX  HUAWEI  Not Found    Not Found           Not Found